.slider  {
    position: relative;
}
.sliderRight {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: rgb(20, 18, 18);
    font-size: 70px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline-width: 0;
  }
  .sliderLeft {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    font-size: 70px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline-width: 0;
  }

  

.slider_image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 1, 0.1));
  }